
@{
    ViewBag.Title = "ValidateExamplePage";
}

<div class="container">
    <form name="form1" id="form1">
        <label for="STR_Write" class="control-label required"></label>
        <div class="form-group">
            <label class="control-label" for="STR_Write">必填欄位：</label>
            <div class="input-group">
                <span class="input-group-addon">€</span>
                <input class="form-control" name="STR_Write" type="text" />
            </div>
        </div>
    </form>
</div>
@section headerJS{
    <script src="~/Scripts/Custom_jquery.validate.min.js"></script>
}
<script>
    $(window).ready(function () {
        $('#form1').validate({
            rules: {
                'STR_Write': {
                    required: true,
                    selectedwrite: true,
                    digits: true
                },
            },
            //花式自訂
            highlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-success has-feedback').addClass('has-error has-feedback');
                    //$(element).closest('.form-group').find('i.fa').remove();
                    //$(element).closest('.form-group').append('<i class="fa fa-exclamation fa-lg form-control-feedback"></i>');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-error has-feedback').addClass('has-success has-feedback');
                    //$(element).closest('.form-group').find('i.fa').remove();
                    //$(element).closest('.form-group').append('<i class="fa fa-check fa-lg form-control-feedback"></i>');
                }
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });

</script>

